<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Mi HTML</title>
    </head>


    <body>
        Hola Mundo HTML
        <p>
            Este es mi primer parrafo trabajando en MisionTic con Thymeleaf
        </p>

        <h1>
            Esto es un Texto h1
        </h1>

        <header>
        <h2>
            Esto es un Texto h2
        </h2>


        <h3>
            Esto es un Texto h3
        </h3>
        </header>


        <h4>
            Esto es un Texto h4
        </h4>


        <h5>
            Esto es un Texto h5
        </h5>


        <h6>
            Esto es un Texto h6
        </h6>

        <footer>
        <b>
            Texto en negrilla
        </b>
        <br>
        <i> Texto en cursiva </i>
        <br>
        <u> Texto en subrayado </u>
            </footer>
        <div>
        <a href="https://www.google.com">Link hacia google</a>


        <ul>

            <li>Art1</li>
            <li>Aert2</li>
            <li>Art3</li>
            <li>Art4</li>

        </ul>

        <ol>

            <li>Art1</li>
            <li>Aert2</li>
            <li>Art3</li>
            <li>Art4</li>

        </ol>


               </div>




        <form>

            <label> Ingrese un texto</label>
            <input type="text">

            <input type="password" placeholder="Ingrese password">

            <input type="email">

            <input type="number">

            <input type="date">

            <textarea></textarea>

            <select>
                <option>Opcion1</option>
                <option>Opcion2</option>
                <option>Opcion3</option>
            </select>

            <button>Boton para hacer click </button>


            <table>

                <tr>
                    <th>
                        Column1
                    </th>
                    <th>
                        Column2
                    </th>
                </tr>

                <tr>
                    <td>
                        Info 1 colui
                    <td>
                    <td>
                        Info 2 colui
                    <td>
                </tr>

                <tr>
                    <td>
                        Info 1 colui row3
                    <td>
                    <td>
                        Info 2 colui row3
                    <td>
                </tr>

                <tr>
                    <td>
                        Info 1 colui
                    <td>
                    <td>
                        Info 2 colui
                    <td>
                </tr>

            </table>




        </form>






        <img src="imgHtml.png">





    </body>

</html>