<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div sec:authorize="isAuthenticated()">

  <form th:object="${UpdateUsuario}" th:method="patch" th:action="@{/usuario/front/{id}(id=*{nombreUsuario})}">

      <label for="emailInput">Email:</label>
      <input id="emailInput" type="email" th:field="*{nombreUsuario}" disabled>

      <label for="passwordInput">Password:</label>
      <input id="passwordInput" type="password" th:field="*{password}">

      <label for="nombreInput">Nombre:</label>
      <input id="nombreInput" type="text" th:field="*{nombrePersona}">

      <select th:field="*{perfil.id}">
          <option th:each="perfil : ${perfiles}" th:text="${perfil.nombre}" th:value="${perfil.id}"></option>
      </select>

      <table class="table">
          <thead>
          <tr>
              <th scope="col">ROLES</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="rol : ${roles}">
              <td>
                  <input type="checkbox" th:text="${rol.name}" th:value="${rol.name}" th:field="*{roles}">
              </td>
          </tr>
          </tbody>
      </table>

      <button type="submit">Actualizar Usuario</button>

  </form>


</div>
</body>
</html>